
body{
    background-color: lightseagreen;
}

#main{
    text-align: center;
}

#title{
    font-size: 100px;
    color: greenyellow; 
}

#card{ 
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    border: solid 2px gray;
    padding: 3%;
}

